body{
    background-color: #ffeedb;
}
.header{
    width: 90%;
    margin: auto;
    height: 100px;
    background-color: #FFFAF4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    background-color: #ffeedb;
}
.header .right-container{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header .right-container ul{
    display: flex;
    list-style:none;
    gap: 20px;
}
.profile-dropdown{
    padding: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
.profile-dropdown img{
    border-radius: 50px;
}